head{
    
}
body{
    background-color: while;
}
h1{
    background-color: blue;
    color: red;
    p{
        color: black;
    }
}
h3 {
    img {
        width: 500;
      }
      
}
h4{
    a{
        color: blue;
    }
}
h5{
    a{
        color: blue;
    }
}