#Menu ul{
    background-color: #7FFFD4;
    list-style-type: none ;
    text-align: center ;
   
}
#Menu li{
    color: #f1f1f1;
    display: inline-block;
    width: 360px ;
    height: 40px ;
    line-height: 40px ;
    margin-right: 30px  ;
    position: relative;
}
#Menu ul li a{
    text-decoration: none ;
    color: #f1f1f1;
    display: block;
}
#Menu ul li a:hover{
    background: #f1f1f1;
    color: #0c0c0c;
}
#Menu ul li > .sub-Menu{
    display: none ;
    position: absolute ;
}
#Menu li{
    position: relative;
}
.sub-Menu{
    display: none ;
    position: absolute ;
}
#Menu ul li:hover .sub-Menu{
    display: block;
}


h8{
        color: aqua;
    }
h9{
        color:  white;

}
h10{
    color: white ;
}
body{
    font-family: sans-serif;
    color : #222 ;
    background-color: while;
}
h1{
    color: black;
    p{
        color: black;
    }
}
h3 {
    img {
        width: 500;
      }
      
}
h4{
    a{
        color: blue;
    }
}
h5{
    a{
        color: blue;
    }
}